<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../style/common.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Play">

    <title>Title</title>
</head>
<body>
<header>
    <div class="logo">
        <a href="#"><img class="graficlogo" src="../img/111.png"></a>
    </div>
    <nav>
        <div class="topnav" id="myTopnav">
            <a href="../index.html">Главная</a>
            <a href="about.html">О нас</a>
            <a href="services.html">Адреса магазинов</a>
            <a href="contact.html">Контакты</a>
            <a href="#" id="menu" class="icon">&#9776;</a>
        </div>
    </nav>
</header>
<main>
    <div class="about_container">
        <h1>"Рад-Ост"-Лучший подход к клиенту!</h1>
        <p>ЧТУП"Рад-Ост"-Частное Торговое Унитарное Предприятие,осуществляющее свою деятельность на территории города Кобрина и Кобринского района.
            Мы занимаемся розничной торговлей продуктов питания.Наше предприятие насчитывает 11 точек по городу и району.
        </p>
        <p>На сегодняшний день штат сотрудников превышает 30 человек.Наша команда представялет из себя дружный коллектив специалистов,которые знаю свое дело и знают подход к к каждому клиенту.</p>
        <p>Если говорить о продукции,то с уверенностью заявляем,что ЧТУП "Рад-Ост" всегда следит за высоким качеством своей продукции,сроками хранения,а таксже соблюдает все нормы и правила хранения этой продукции.Старается удивлять покупателей приятной ценой и всегда идет навстречу клиенту.</p>
        Мы дорожим нашим именем,поэтому следим за тем,чтобы каждый приходящий клиент был доволен и становился нашим постоянным покупателем!
    </div>
</main>
<footer>
    <nav>
        <a href="../index.html">Главная</a>
        <a href="about.html">О нас</a>
        <a href="services.html">Адреса магазинов</a>
        <a href="contact.html">Контакты</a>
        <a href="#" id="menu" class="icon">&#9776;</a>
    </nav>
    <div class="logo">
        <a href="../index.html"><img src="../img/111.png" alt="" class="graficlogo"></a>
    </div>
    <div class="social">
        <a href="#"><img src="../img/em.png" alt="Email"></a>
        <a href="#"><img src="../img/face.png" alt="Facebook"></a>
        <a href="#"><img src="../img/goo.png" alt="Google"></a>
        <a href="#"><img src="../img/inst.png" alt="Instagram"></a>
        <a href="#"><img src="../img/pint.png" alt="Pint"></a>
    </div>
    <p>Ostapuk Nikita 2018</p>
</footer>
<script src="../script/common.js"></script>
</body>
</html>















