<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../style/common.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

    <title>Title</title>
</head>
<body>
<header>
    <div class="logo">
        <a href="#"><img class="graficlogo" src="../img/111.png"></a>
    </div>
    <nav>
        <div class="topnav" id="myTopnav">
            <a href="../index.html">Главная</a>
            <a href="about.html">О нас</a>
            <a href="services.html">Адреса магазинов</a>
            <a href="contact.html">Контакты</a>
            <a href="#" id="menu" class="icon">&#9776;</a>
        </div>
    </nav>
</header>
<main>

    <form class="form">
        <h1>У вас есть вопросы? -Оставьте заявку и мы вам перезвоним!</h1>
        <p><input type="text" name="Имя" class="feedback-input" placeholder="Имя" id="name"></p>
        <p><input type="email" name="email" class="feedback-input" placeholder="Номер телефона" id="email"></p>
        <p><textarea name="text" id="comment" class="feedback-input" placeholder="Комментарий"></textarea></p>
        <input type="submit" value="Отправить" class="button_submit">
        <div class="ease"></div>
    </form>
</main>
<footer>
    <nav>
        <a href="../index.html">Главная</a>
        <a href="about.html">О нас</a>
        <a href="services.html">Адреса магазинов</a>
        <a href="contact.html">Контакты</a>
        <a href="#" id="menu" class="icon">&#9776;</a>
    </nav>
    <div class="logo">
        <a href="../index.html"><img src="../img/111.png" alt="" class="graficlogo"></a>
    </div>
    <div class="social">
        <a href="#"><img src="../img/em.png" alt="Email"></a>
        <a href="#"><img src="../img/face.png" alt="Facebook"></a>
        <a href="#"><img src="../img/goo.png" alt="Google"></a>
        <a href="#"><img src="../img/inst.png" alt="Instagram"></a>
        <a href="#"><img src="../img/pint.png" alt="Pint"></a>
    </div>
    <p>Ostapuk Nikita 2018</p>
</footer>
<script src="../script/common.js"></script>
</body>
</html>














