<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../style/common.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

    <title>Title</title>
</head>
<body>
<header>
    <div class="logo">
        <a href="#"><img class="graficlogo" src="../img/111.png"></a>
    </div>
    <nav>
        <div class="topnav" id="myTopnav">
            <a href="../index.html">Главная</a>
            <a href="about.html">О нас</a>
            <a href="services.html">Адреса магазинов</a>
            <a href="contact.html">Контакты</a>
            <a href="#" id="menu" class="icon">&#9776;</a>
        </div>
    </nav>
</header>
<main class="services">
    <img src="../img/main1.jpg" alt="Services">
    <div class="services_container">
        <div class="services_container_block">
            <h3>Мир продуктов 1 "Надежда"</h3>
            <p>Адрес:г.Кобрин ул.Калинина 10
            Время работы:8:00-21:00</p>
        </div>
        <div class="services_container_block">
            <h3>Мир продуктов 2</h3>
            <p>Адрес:г.Кобрин ул.Северная 21
                Время работы:8:00-21:00</p>
        </div>
        <div class="services_container_block">
            <h3>Мир продуктов 3</h3>
            <p>Адрес:г.Кобрин ул.Калинина 2
                Время работы:8:00-21:00</p>
        </div>
        <div class="services_container_block">
            <h3>Мир продуктов 4</h3>
            <p>Адрес:г.Кобрин ул.Новая 44
                Время работы:8:00-21:00</p>
        </div>
        <div class="services_container_block">
            <h3>Мир продуктов 5</h3>
            <p>Адрес:г.Кобрин ул.Кутузова 23
                Время работы:8:00-21:00</p>
        </div>
        <div class="services_container_block">
            <h3>Мир продуктов 6</h3>
            <p>Адрес:Кобринский район Д.Пески ул.Центральная 15
                Время работы:8:00-21:00</p>
        </div>
        <div class="services_container_block">
            <h3>Мир продуктов 7</h3>
            <p>Адрес:Кобрин ул.Дзержинского 119
                Время работы:8:00-21:00</p>
        </div>
        <div class="services_container_block">
            <h3>Мир продуктов 8</h3>
            <p>Адрес:Кобрин ул.Дзержинского 119
                Время работы:8:00-21:00</p>
        </div>
        <div class="services_container_block">
            <h3>Мир продуктов 9</h3>
            <p>Адрес:Кобринский район Д.Городец ул.Советская 15
                Время работы:8:00-21:00</p>
        </div>
        <div class="services_container_block">
            <h3>Мир продуктов 10</h3>
            <p>Адрес:Березовский район Д.Малеч ул.Первомайская 15
                Время работы:8:00-21:00</p>
        </div>
        <div class="services_container_block">
            <h3>Мир продуктов 11</h3>
            <p>Адрес:Кобрин ул.Чкалова 7
                Время работы:8:00-21:00</p>
        </div>
    </div>
</main>
<footer>
    <nav>
        <a href="../index.html">Главная</a>
        <a href="about.html">О нас</a>
        <a href="services.html">Адреса магазинов</a>
        <a href="contact.html">Контакты</a>
        <a href="#" id="menu" class="icon">&#9776;</a>
    </nav>
    <div class="logo">
        <a href="../index.html"><img src="../img/111.png" alt="" class="graficlogo"></a>
    </div>
    <p>Ostapuk Nikita 2018</p>
</footer>
<script src="../script/common.js"></script>
</body>
</html>















